# Compiled files
*.tfstate*
*.tfstate.backup
*.retry

#Public keys
terraform/*.pub

# Module directory
terraform/.terraform/

# downloaded on the fly
jenkins-cli.jar

default_admin_password.clearTxt
.work-password
