# Compiled files
*.tfstate*
*.tfstate.backup
*.retry


#Public keys
terraform/*.pub

# Module directory
terraform/.terraform/

# downloaded on the fly
jenkins-cli.jar

#IP/DNS cache file
load_IPs.sh

*.clearTxt
.work-password
