---

#Jenkins_node_type is defined in the calling playbook
- name: "Include the '{{ jenkins_node_type }}' installation specific variables" 
  include_vars: "{{ jenkins_node_type }}.yml"


- name: Copy the initial configuration before first startup
  #Proceeding this way is important so that the noWizard parameter works properly
  become: true
  copy:
    src: "{{ package_name }}"
    dest: "/etc/default/{{ package_name }}"
    force: no
    backup: yes
    owner: "root"
    group: "root"
    mode: u=rw,g=r,o=r

- name: create the Jenkins_home directory
  become: true
  file:
    path: "{{ jenkins_home_dir }}"
    state: directory
    owner: "{{ jenkins_user }}"
    group: "{{ jenkins_user }}"
    mode: u=rwx,g=rx,o=rx    

- name: create the init.groovy.d directory
  become: true
  file:
    path: "{{ jenkins_home_dir }}/init.groovy.d"
    state: directory
    owner: "{{ jenkins_user }}"
    group: "{{ jenkins_user }}"
    mode: u=rwx,g=rx,o=rx

- name: Prepare everything to load the license on CJOC
  include_tasks: load-license.yml the_jenkins_user=cloudbees-core-oc
  when: jenkins_node_type is search("cjoc")

- name: Load initial user creation and security settings
  include_tasks: initial_jenkins_config.yml


- name: Add the {{ option_friendly_name }} APT Key
  become: true
  apt_key:
    url: "{{ key_url }}"
    state: present

- name: Add the {{ option_friendly_name }} package repository
  become: true
  apt_repository:
    repo: "{{ repo_url }}"
    state: present

# To force a particular version:  "{{ package_name }}=2.138.3.1"
- name: Install {{ option_friendly_name }}
  become: true
  apt:
    update_cache: yes
    name: "{{ package_name }}"

# - name: create the init.groovy.d directory
#   become: true
#   file:
#     path: "/var/lib/{{ jenkins_user }}/init.groovy.d"
#     state: directory
#     owner: "{{ jenkins_user }}"
#     group: "{{ jenkins_user }}"
#     mode: u=rwx,g=rx,o=rx

# - name: Prepare everything to load the license on CJOC
#   include_tasks: load-license.yml the_jenkins_user=cloudbees-core-oc
#   when: jenkins_node_type is search("cjoc")

# - name: Load initial user creation and security settings
#   include_tasks: initial_jenkins_config.yml

# This will load the properties and execute the initscripts 
- name: restart the {{ package_name }} service 
  become: true
  service:
    name: "{{ package_name }}"
    state: restarted





- name: redirect the traffic from 80 to {{ used_port }} with IPtables
  become: yes
  iptables:
    table: nat
    chain: PREROUTING
    in_interface: eth0
    protocol: tcp
    match: tcp
    destination_port: 80
    jump: REDIRECT
    to_ports: "{{ used_port }}"
    comment: "Redirect web traffic to port {{ used_port }}"


