option_friendly_name: "Cloudbees Core Operation Center"
key_url: "https://downloads.cloudbees.com/cloudbees-core/traditional/operations-center/rolling/debian/cloudbees.com.key"
repo_url: "deb https://downloads.cloudbees.com/cloudbees-core/traditional/operations-center/rolling/debian binary/"
package_name: "cloudbees-core-oc"
used_port: "8888"
jenkins_user: "{{ package_name }}"
jenkins_home_dir: "/var/lib/{{ package_name }}"
terraform_dns_reference: "Jmm_cjoc_dns"