jenkins:
  securityRealm:
    ldap:
      configurations:
      - inhibitInferRootDN: false
        managerDN: "uid=idm,ou=Administrators,dc=example,dc=com"
        managerPasswordSecret: "{{ ldap_admin_passw }}"
        rootDN: "dc=example,dc=com"
        server: "ldap://{{ full_agent_docker_dns_name }}:389"
      disableMailAddressResolver: false
      disableRolePrefixing: true
      groupIdStrategy: "caseInsensitive"
      userIdStrategy: "caseInsensitive"