{
    "type" : "plugin-catalog",
    "version" : "1",
    "name" : "my-plugin-catalog",
    "displayName" : "My Plugin Catalog",
    "configurations" : [
        {
            "description" : "My Plugin Catalog for Masters versions 2.121 or greater",
            "prerequisites": {
                "productVersion": "[2.121,)"
            },
            "includePlugins" : {
                "beer": {
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.1"
                },
                "variant":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.2" 
                },
                "cloudbees-folder":{
                    "groupId": "com.cloudbees.jenkins-ci.plugins",
                    "version" : "6.7" 
                },
                "cloudbees-folders-plus":{
                    "groupId": "com.cloudbees.jenkins-ci.plugins",
                    "version" : "3.8" 
                },
                "bouncycastle-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.17" 
                },
                "apache-httpcomponents-client-4-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "4.5.5-3.0" 
                },
                "cloudbees-blueocean-default-theme":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "0.5" 
                },
                "support-core":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.56" 
                },
                "jaxb":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.3.0.1" 
                },
                "cloudbees-assurance":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.138.0.5" 
                },
                "cloudbees-license":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "9.33" 
                },
                "jdk-tool":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.1" 
                },
                "token-macro":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.8" 
                },
                "workflow-step-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.19" 
                },
                "async-http-client":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.7.24.2" 
                },
                "script-security":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.57" 
                },
                "mailer":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.23" 
                },
                "credentials":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.1.19" 
                },
                "nectar-rbac":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "5.27" 
                },
                "display-url-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.3.1" 
                },
                "mapdb-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.0.9.0" 
                },
                "scm-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.4.0" 
                },
                "workflow-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.33" 
                },
                "operations-center-agent":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.150.2.4" 
                },
                "jackson2-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.9.8" 
                },
                "operations-center-context":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.150.2.8" 
                },
                "command-launcher":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.2" 
                },
                "metrics":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "4.0.2.3" 
                },
                "operations-center-client":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.150.2.5" 
                },
                "nectar-license":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "8.16" 
                },
                "blueocean-commons":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.10.2" 
                },
                "structs":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.17" 
                },
                "cloudbees-uc-data-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "4.42" 
                },
                "junit":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.26.1" 
                },
                "ssh-credentials":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.14" 
                },
                "plain-credentials":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.4" 
                },
                "credentials-binding":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.18" 
                },
                "ace-editor":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.1" 
                },
                "jquery-detached":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.2.1" 
                },
                "workflow-scm-step":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.7" 
                },
                "workflow-support":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "3.2" 
                },
                "workflow-cps":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.66" 
                },
                "pipeline-model-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.3.8" 
                },
                "workflow-job":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.32" 
                },
                "pipeline-model-extensions":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.3.8" 
                },
                "jsch":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "0.1.55" 
                },
                "git-client":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.7.4" 
                },
                "git-server":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.7" 
                },
                "workflow-cps-global-lib":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.13" 
                },
                "branch-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.0.20.1" 
                },
                "workflow-multibranch":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.20" 
                },
                "authentication-tokens":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.3" 
                },
                "docker-commons":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.14" 
                },
                "durable-task":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.29" 
                },
                "workflow-durable-task-step":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.30" 
                },
                "workflow-basic-steps":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.15" 
                },
                "docker-workflow":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.18" 
                },
                "pipeline-stage-tags-metadata":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.3.8" 
                },
                "pipeline-input-step":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.10" 
                },
                "pipeline-model-declarative-agent":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.1.1" 
                },
                "pipeline-stage-step":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.3" 
                },
                "pipeline-model-definition":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.3.8" 
                },
                "node-iterator-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.5.0" 
                },
                "operations-center-cloud":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.150.2.4" 
                },
                "cloudbees-support":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "3.22" 
                },
                "cloudbees-jsync-archiver":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "5.9" 
                },
                "matrix-project":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.14" 
                },
                "git":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "3.9.3" 
                },
                "cloudbees-template":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "4.39" 
                },
                "cloudbees-workflow-template":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "3.0" 
                },
                "pipeline-graph-analysis":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.7" 
                },
                "pipeline-rest-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.10" 
                },
                "handlebars":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.1.1" 
                },
                "momentjs":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.1.1" 
                },
                "pipeline-stage-view":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.10" 
                },
                "cloudbees-nodes-plus":{
                    "groupId": "com.cloudbees.jenkins.plugins",
                    "version" : "1.17" 
                },
                "aws-java-sdk":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.11.457" 
                },
                "aws-credentials":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.24" 
                },
                "infradna-backup":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "3.38.10" 
                },
                "cloudbees-monitoring":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.8" 
                },
                "workflow-cps-checkpoint":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.7" 
                },
                "github-api":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.95" 
                },
                "github":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.29.3" 
                },
                "github-branch-source":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.4.5" 
                },
                "cloudbees-ssh-slaves":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.3" 
                },
                "cloudbees-groovy-view":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.8" 
                },
                "email-ext":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.66" 
                },
                "cloudbees-workflow-ui":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.1" 
                },
                "wikitext":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "3.9" 
                },
                "gradle":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.30" 
                },
                "cloudbees-ha":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "4.20" 
                },
                "cloudbees-view-creation-filter":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.5" 
                },
                "pipeline-milestone-step":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.3.1" 
                },
                "pipeline-build-step":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.9" 
                },
                "workflow-aggregator":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "2.5" 
                },
                "ldap":{
                    "groupId": "org.jenkins-ci.plugins",
                    "version" : "1.20" 
                }
            }
        }
    ],
    "settings": {
        "repository": {
            "layout": "maven2",
            "url": "http://{{ full_agent_docker_dns_name }}:8081/repository/Jenkins/"
        }
    }
}